[Unit]
Description=Metadata-Proxy
Requires=early-docker.service
After=early-docker.service
Before=early-docker.target

[Service]
Restart=always
RestartSec=5
Environment=DOCKER_HOST=unix:///run/early-docker.sock
Environment=METADATA_PROXY_OPTS=
ExecStartPre=-/bin/sh -c "find /sys/class/net/*/ -name device | awk -F/ '{print $5}' | xargs -n1 -ID ip addr add 169.254.169.254/16 scope link dev D"
ExecStartPre=/usr/bin/docker pull steigr/metadata-proxy
ExecStart=/usr/bin/docker run --rm --net=host ${METADATA_PROXY_OPTS} steigr/metadata-proxy